@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Genos:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*

    Animations

*/

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes fadeInScaleAnimation {
    0% {
        opacity: 0.4;
        scale: 0.9;
    }
    100% {
        opacity: 0.8;
        scale: 1;
        
    }
}

/*

    Media Queries 

*/

/* @media only screen and (max-width: 640px) {
    body {
        font-size: calc(0.25rem + 1vw)
    }
}

@media only screen and (min-width: 641px) and (max-width: 800px) {
    body {
        font-size: calc(0.25rem + 1vw)
    }
}

@media only screen and (min-width: 801px) and (max-width: 1024px) {
    body {
        font-size: calc(0.25rem + 1vw)
    }
}
@media only screen and (min-width: 1025px) {
    body {
        font-size: calc(0.25rem + 1vw)
    }
} */




/*

     *, Body, Html, 

*/


*:not(body, html, .webgl)
{
    margin: 0;
    padding: 0;
    animation: fadeInAnimation ease-in-out 1s;
}

html,
body
{
    font-family: 'Montserrat', sans-serif;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#main {
    position: absolute;
    height: 100vh;
    width: 100vw;
    
}

#app {
    width: 100%;
    height: 100%;
}



/*

    Navbar

*/

#navbar {
    position: relative;
    top: 2%;
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: end;

}

.nav__link {
    display: inline-block;
    position: relative;
    color: white;
    font-size: calc(0.25rem + 0.75vw);
    text-decoration: none;
    transition: transform 0.25s ease-out;
}

  
.nav__link::after {
    content: '';
    position: absolute;
    width: 105%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav__link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav__link:hover {
    color: white;
    font-weight: 500;
    transform: scale(1.02);
}

/*

    Dashboard

*/

.dashboard-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 90%;

}

.dashboard-content {
    color: white;
    margin-left: 5vw;
}

.dashboard-heading {
    font-size: calc(0.25rem + 6vw);
    font-weight: 400;
}
.dashboard-para {
    font-size: calc(0.25rem + 0.8vw);
    margin-left: 6vw;
    letter-spacing: 0.2vw;
}

/*

    About

*/

.about-wrapper {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10vh;
    gap: 5vw;
}

.about-content {
    color: white;
    margin-left: 5vw;
    padding:  15px
}

.about-heading {
    font-size: calc(0.25rem + 6vw);
    font-weight: 400;
    padding-bottom: 15px;
}

.about-para {
    font-size: calc(0.25rem + 1.0vw);
}

.contact-icons-wrapper {
    display: flex;
    flex-direction: row;
    gap: calc(0.25rem + 1.0vw);
    justify-content: start;
    margin-left: 5.2vw;
}

/*

    Skills

*/

.skills-wrapper {
    width: 100%;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.skills-list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5%;
    margin-left: 5%;
}

.skills-list {
    height: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
}

.skills-box {
    /*https://getcssscan.com/css-box-shadow-examples*/
    box-shadow: rgba(255, 255, 255, 0.4) 0px 1px 1px 0px inset, rgba(74, 131, 142, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color: rgba(15, 15, 15, 0.6);
    height: 70%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    gap: 60px;
}

.skills-info-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 5%;
    gap: 3vh;

}

.skills-item {
    color: white;
    font-size: calc(0.25rem + 0.6vw);
    font-weight: 500;
    height: 20px;
    padding-left: calc(0.1rem + 0.15vw);
    padding-right: calc(0.1rem + 0.15vw);
    padding-top: calc(0.1rem + 0.15vh);
    padding-bottom: calc(0.1rem + 0.15vh);
    display: flex;
    justify-content: center;
    text-align: center;
    border-color: black;
    box-shadow: rgba(255, 255, 255, 0.4) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    cursor: default;
    box-shadow: black;
    background: linear-gradient(0deg, rgba(20, 20, 20, 0.8) 70%, rgb(29, 29, 29) 90%) padding-box,
                linear-gradient(0deg, rgba(20, 20, 20, 0.8) 10%, rgba(30, 190, 234, 0.8) 90%) border-box;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all;
    transition-duration: 1.0s;
}

.skills-item:hover {
    background: rgba(30, 190, 234, 0.8);
}

.skills-heading {
    font-size: calc(0.25rem + 2vw);
    font-weight: 500;
    background-image: linear-gradient(0deg, #131313, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




/*

    Projects

*/

.projects-wrapper {
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2vh;
    margin-left: 10vw;
    margin-top: 5vh;
}

.projects-header {
    color: white;
    font-size: calc(0.25rem + 5vw);
    font-weight: 400;
    padding: 10px;
}

.projects-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects-item {
    font-size: 2.2vw;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition: transform 0.25s ease-out;
}

.projects-item-wrapper {
    position: relative;
    padding: calc(0.25rem + 1.2vw);
    width: 100%;
}

.projects-item-wrapper::after {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(0.1rem + 0.1vh );
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
    transform-origin: bottom right;
}

.projects-item:hover {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    font-size: 2.3vw;
    transition: all;
    transition-duration: 0.3s;
}

.projects-item-wrapper::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: -2%;
    background-color: rgb(32, 31, 31);
    border: rgba(255, 255, 255, 0.8) solid 2px;
}

.projects-item-wrapper:hover::before {
    background-color: white;
    transition: all;
    transition-duration: 0.5s;
}

/*

    Individual Project

*/

.view-next-project {
    position: absolute;
    left: 90%;
    top: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 5vw;
    height: 5vw;
    background-color: rgb(15, 15, 15);
    color: rgb(241, 241, 241);
    font-size: calc(0.2rem + 0.5vw);
    font-weight: 700;
    border-radius: 50px;
    transition: all;
    transition-duration: 0.5s;
    cursor: default;
    text-decoration: none;
}

.view-next-project:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    transform: scale(1.5);
}

.unique-project-wrapper {
    width: 90%;
    height: 70%;
    display: column;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    margin-left: 8%;
    margin-top: 5%;

}

.unique-project-header {
    color: white;
    font-weight: 500;
    font-size: calc(0.25rem + 6vw);
}

.unique-project-info-wrapper {
    height: 80%;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.unique-project-info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.unique-project-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;

}

.unique-project-details-item {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.unique-project-details-item-header {
    color: white;
    font-weight: 600;
    font-size: calc(0.25rem + 1.2vw);
}

.unique-project-details-item-description {
    color: white;
    font-size: calc(0.15rem + 1.0vw);
}

.unique-project-summary {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc(0.1rem + 1.0vw);
}

.unique-project-summary-details {
    color: white;
    font-size: calc(0.1rem + 1.0vw);
}

/* Image Selection */

.unique-project-images-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 70vh;
    margin-top: 10vh;
    padding-bottom: 20vh;
}

.images-container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;

}

.large-image-wrapper {
    display: flex;
    justify-content: center;
}

.small-image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vw;
}

.large-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all;
    transition-duration: 0.7s;
}

.large-image:hover {
    transform: scale(0.98);
}

.small-image {
    width: 100%;
    height: 50%;
    border-radius: 10px;
    transition: all;
    transition-duration: 0.7s;
}

.small-image:hover {
    transform: scale(0.98);

}



/*

    Preloader

*/

.preloader-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader-menu {
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 20vh;
    align-items: center;
}

.preloader-btn {
    cursor: pointer;
    padding: 6px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
    border: #ffffff solid 2px;
    text-decoration: none;
    border-radius: 4px;
    transition: all;
    transition-duration: 1s;
}

.preloader-btn:hover {
    background: #00ffd5;
    border: #00ffd5 solid 2px;
    color: rgb(255, 255, 255);
    transform: scale(0.95);
}

.preloader-icon {
    width: 1vw;
    height: 4vh;
    background: #ffffff;
    animation: fadeInScaleAnimation 0.7s ease-in-out;
    animation-iteration-count: infinite;
}

.preload-finished {
    transform: scale(0);
    transition: all;
    transition-duration: 0.5s;
}

